@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    /*fontes */
    font-family: "Inter", sans-serif;
    text-align: center;
    /*cores de fundo*/
    background: rgba(24, 24, 24, 0.6);
    color: #fff;
    backdrop-filter: blur(8px);
    /*display flex etc*/
    height: 97vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    display: flex;
    gap: 40px;
    background: rgba(0,0,0,0.6);
    color: #000000;
    backdrop-filter: blur(8px);
    padding: 30px 120px 30px 120px;
    border-radius: 20px;
}

.container-horario {
    width: 170px;
    background-color: #ffff;
    border-radius: 5px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.container-horario > #h,#m,#s {
    font-weight: 500;
    font-size: 40px;
}

.txt {
    font-weight: 700;
    font-size: 20px;
}

/*MEDIA QUERY*/
@media screen and (max-width: 922px){
    #container {
        display: flex;
        flex-direction: column;
    }

    .txt {
        font-size: 16px;
    }
}