body {
    /*fontes */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-align: center;
    /*cores de fundo*/
    background: rgba(24, 24, 24, 0.6);
    color: #fff;
    backdrop-filter: blur(8px);
    /*display flex etc*/
    height: 97vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    display: flex;
    background: rgba(0,0,0,0.6);
    color: #000000;
    backdrop-filter: blur(8px);

    padding: 30px 120px 30px 120px;
    border-radius: 10px;
}

.container-horario {
    width: 170px;
    background-color: #ffff;
    border-radius: 5px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    margin-right: 30px;
}

.container-horario > #h,#m,#s {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 40px;
}

.txt {
    font-weight: 700;
    font-size: 20px;
}